environment:
  matrix:
    - PYTHON_MAJOR: 3
      PYTHON_MINOR: 6

install:
  # Add Make and Python to the PATH
  - copy C:\MinGW\bin\mingw32-make.exe C:\MinGW\bin\make.exe
  - set PATH=%PATH%;C:\MinGW\bin
  - set PATH=C:\Python%PYTHON_MAJOR%%PYTHON_MINOR%;%PATH%
  - set PATH=C:\Python%PYTHON_MAJOR%%PYTHON_MINOR%\Scripts;%PATH%
  # Install system dependencies
  - pip install pipenv verchew
  - verchew
  # Install project dependencies
  - make install

build: off

test_script:
  - make ci
