# Temporary Python files
*.pyc
*.egg-info
__pycache__

# Temporary OS files
Icon*

# Temporary virtualenv files
.cache
env

# Generated documentation
*.gen.*
apidocs
docs/*.html
*.rst

# Google Drive
*.gdoc
*.gsheet
*.gslides
*.gdraw

# Testing and coverage results
.coverage

# Build and release directories
build
dist

# Sublime Text
*.sublime-workspace
