[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3"

[packages]

cookiecutter = "*"

[dev-packages]

sniffer = "*"
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }
