environment:
  global:
    RANDOM_SEED: 0
  matrix:
    - PYTHON_MAJOR: {{cookiecutter.python_major_version}}
      PYTHON_MINOR: {{cookiecutter.python_minor_version}}

cache:
  - .venv -> poetry.lock

install:
  # Add Make and Python to the PATH
  - copy C:\MinGW\bin\mingw32-make.exe C:\MinGW\bin\make.exe
  - set PATH=%PATH%;C:\MinGW\bin
  - set PATH=C:\Python%PYTHON_MAJOR%%PYTHON_MINOR%;%PATH%
  - set PATH=C:\Python%PYTHON_MAJOR%%PYTHON_MINOR%\Scripts;%PATH%
  # Install system dependencies
  - curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python
  - set PATH=%USERPROFILE%\.poetry\bin;%PATH%
  - make doctor
  # Install project dependencies
  - make install

build: off

test_script:
  - make check
  - make test
