[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

testpackage = "*"


[dev-packages]

# Linters
pylint = "~=1.7"
pycodestyle = "~=2.3"
pydocstyle = "~=2.0"

# Testing
{%- if cookiecutter.test_runner == "nose" %}
nose = "*"
nose-cov = "*"
expecter = "*"
{%- elif cookiecutter.test_runner == "pytest" %}
pytest = "~=3.0.7"
pytest-describe = "==0.11.0"
pytest-expecter = "==0.2.2.post6"
pytest-cov = "*"
pytest-random = "*"
{%- endif %}

# Coverage
coverage = "~=4.0"
"coverage.space" = "~=0.8"

# Documentation
mkdocs = "*"
docutils = "*"
pygments = "*"

# Build
wheel = "*"
pyinstaller = "*"

# Release
twine = "*"

# Tooling
sniffer = "*"
