[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "{{cookiecutter.python_major_version}}.{{cookiecutter.python_minor_version}}"

[packages]

{{cookiecutter.package_name}} = { path = ".", editable = true }

[dev-packages]

# Linters
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

# Testing
{%- if cookiecutter.test_runner == "nose" %}
nose = "~=1.3"
expecter = "*"
{%- elif cookiecutter.test_runner == "pytest" %}
pytest = "~= 3.3"
pytest-describe = "*"
pytest-expecter = "~=1.1"
pytest-random = "*"
pytest-cov = "*"
{%- endif %}
freezegun = "*"

# Reports
"coverage.space" = "*"

# Documentation
mkdocs = "*"
docutils = "*"
pygments = "*"

# Build
wheel = "*"
pyinstaller = "*"

# Release
twine = "*"

# Tooling
sniffer = "*"
pync = {version = "<2.0", sys_platform = "== 'darwin'"}
MacFSEvents = {version = "*", sys_platform = "== 'darwin'"}
