[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

testpackage = "*"


[dev-packages]

# Linters
pylint = { git = "https://github.com/PyCQA/pylint.git", ref = "e0fdd25c214e60bef10fbaa46252f4aaa74de8c2" }
astroid = { git = "https://github.com/PyCQA/astroid.git", ref = "4e7d9fee4080d2e0db67a3e0463be8b196e56a95" }
pycodestyle = "*"
pydocstyle = "*"

# Testing
{%- if cookiecutter.test_runner == "nose" %}
nose = "*"
nose-cov = "*"
expecter = "*"
{%- elif cookiecutter.test_runner == "pytest" %}
pytest = "*"
pytest-describe = "*"
pytest-expecter = "*"
pytest-cov = "*"
pytest-random = "*"
{%- endif %}

# Coverage
coverage = "*"
"coverage.space" = "*"

# Documentation
mkdocs = "*"
docutils = "*"
pygments = "*"

# Build
wheel = "*"
pyinstaller = "*"

# Release
twine = "*"

# Tooling
sniffer = "*"
